<!DOCTYPE html>
<html>
  <head>
    <title>Slug Loop Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Slug Loop Backend</h1>
    <p>Welcome to the backend server for Slug Loop!</p>
    <p>To see the documentation, checkout the <a href="/api-docs">Api Documentation</a></p>
  </body>
</html>
